<div class="path jumbotron">
  <div class="col-xs-4"></div>
  <div class='col-xs-3 node'>
    <% @path.each do |node| %>
      <p><%= node.name %></p>
      <%= image_tag node.image %>
    <% end %>
  </div>
</div>